@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

.btn a {
  margin-left: 30px;
  margin-top: 30px;
  position: relative;
  color: #f5f5f5;
  height: 50px;
  width: 180px;
  display: block;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  background-image: linear-gradient(
    115deg,
    #00ff40,
    #ffcf0e,
    rgb(255, 0, 0),
    #ad5cff,
    #00b7ff,
    #91ff00
  );
  animation: rotate 1s linear infinite;
}
.btn a:hover {
  animation: rotate 0.3s linear infinite;
}
@keyframes rotate {
  100% {
    filter: hue-rotate(-360deg);
  }
}
.btn a span {
  height: 86%;
  width: 95%;
  background: #111;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  line-height: 38px;
  font-size: 15px;
  font-weight: bold;
  transform: translate(-50%, -50%);
}

.btn1 a {
  margin-left: 230px;
  margin-top: -58px;
  position: relative;
  color: #f5f5f5;
  height: 50px;
  width: 180px;
  display: block;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  background-image: linear-gradient(
    115deg,
    #4fcf70,
    #fad648,
    #a767e5,
    #12bcfe,
    #44ce7b
  );
  animation: rotate 1s linear infinite;
}
.btn1 a:hover {
  animation: rotate 0.3s linear infinite;
}
@keyframes rotate {
  100% {
    filter: hue-rotate(-360deg);
  }
}
.btn1 a span {
  height: 86%;
  width: 95%;
  background: #111;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  line-height: 38px;
  font-size: 15px;
  font-weight: bold;
  transform: translate(-50%, -50%);
}
