.loginContainer {
  display: flex;
  flex-direction: row;
  margin: 20px;
  border: 2px black;
  width: 100px;
}
section {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
}
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow: 7px 7px 60px #000;
}
