@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: white;
  padding: 0 10px;
}

.wrapper {
  max-width: 700px;
  width: 100%;
  background: white;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.125);
}

.wrapper .title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #fec107;
  text-transform: uppercase;
  text-align: center;
}

.wrapper .form {
  width: 100%;
}

.wrapper .form .input_field {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .form .input_field label {
  width: 390px;
  color: black;
  margin-right: 5px;
  font-size: 15px;
}

.wrapper .form .input_field .input,
.wrapper .form .input_field .textarea {
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
  background-color: #d5dbd9;
}

.wrapper .form .input_field .textarea {
  resize: none;
  height: 125px;
}

.wrapper .form .input_field .custom_select {
  position: relative;
  width: 651px;
  height: 40px;
}

.wrapper .form .input_field .custom_select select {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #d5dbd9;
  width: 100%;
  height: 100%;
  padding: 8px 10px;
  border-radius: 3px;
  outline: none;
  background-color: #d5dbd9;
}

.wrapper .form .input_field .custom_select::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: red transparent transparent transparent;
}

.mainback {
  min-height: 93vh;
  display: flex;
  padding: 10px 0;
}
